doctype html
html
	head
		title Haui Learn
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		
		link(rel="stylesheet" href="styles/style.css")
	body
		block content