extends ./layouts/common.pug
block content
	nav.navbar.navbar-expand-lg.navbar-light.bg-light
		a.navbar-brand(href="#") Haui learning
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup',aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarNavAltMarkup.collapse.navbar-collapse
			.navbar-nav
				a.nav-item.nav-link.active(href="#") Home
					span.sr-only (current)
				a.nav-item.nav-link(href="#") Subjects
				a.nav-item.nav-link(href="#") Others