extends ./layouts/common.pug
block content
	.body_content
		img(src="images/a.jpg" alt="macbook" width="100%" height="100%")
		h1.slogan Get Document with a touch of a button
		a.btn.btn-primary.btn_started(href='/subjects', role='button') Get Started