extends ../layouts/common.pug
block content
    .subjects.container
        each card in subjects
            .card.mt-5
                .card-body
                    h4.card-title= card.name
                    p.card-text= card.description
                    a.card-link(href="/subjects/" + card.id) View
        