extends ../layouts/common.pug
block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
        a.navbar-brand(href='/') Haui Learning
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/subjects') Subjects
            li.nav-item
                a.nav-link(href='#') Others
        form.form-inline(action='/subjects/search', method="GET")
            input.form-control.mr-sm-2(type='text', placeholder='Search', name='q')
            button.btn.btn-success(type='submit') Search
    .subjects.container
        each card in subjects
            .card.mt-5
                .card-body
                    h4.card-title= card.name
                    p.card-text= card.description
                    a.card-link(href= card.link) View
        